snippet todo
	`system("date +%Y-%m-%d")` `system("date +%A")`
	====================
snippet task
	${1:New task}
	--------------------

snippet log
	Problem: ${1:New item}
	
	Solution:
	
	Method:
	
	Execution:
	
	Improvements:
