snippet fut
	from __future__ import absolute_import, division, print_function, unicode_literals

snippet !#
	#!/usr/bin/env python

snippet utf
	# -*- coding: utf-8

snippet ipp
	from pprint import pprint

snippet pp
	pprint(${1})

snippet syslog
	from syslog import syslog
	syslog(${1})
