snippet log
	console.log(${1});
snippet expect
	chai.expect(${1}).to.be.${2};
snippet .
	this.
snippet fn
	function(${1}) { return ${2}; }
snippet trace
	import * as trace from "trace";

	trace.setCategories(trace.categories.All);
	trace.enable();
